<div class="flex flex-col h-screen">
  <app-navbar />
  <div class="w-full grow bg-sky-600 px-4 pb-4">
    <div class="flex flex-col h-full">
      <div>
        <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
      </div>

      <div
        class="flex grow items-start w-full h-full overflow-x-scroll"
        cdkDropListGroup
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropHorizontal($event)"
        [cdkDropListData]="this.columns"
      >
        @for (column of columns; track column) {
        <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0" cdkDrag>
          <button class="float-right pr-2">
            <fa-icon [icon]="faElipsis"></fa-icon>
          </button>
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2">{{ column.title }}</h3>
          </div>

          <div
            class="text-sm mt-2 min-h-[2.5rem]"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="column.todos"
          >
            @for (todo of column.todos; track todo) {
            <div
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              (click)="openDialog(todo, column)"
            >
              {{ todo.title }}
            </div>
            }
          </div>
        </div>
        }
        <button
          (click)="addColumn()"
          class="rounded bg-gray-200 w-1/6 p-2 mr-3 shrink-0 font-medium"
        >
          <fa-icon [icon]="faPlus" class="float-start"> </fa-icon>
          Añade una lista
        </button>
      </div>
    </div>
  </div>
</div>
