<h1 class="text-center font-bold pt-4 pb-8 text-gray-500">
  Establece tu nueva contraseña
</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="recovery()">
  <div>
    <div class="relative">
      <input
        formControlName="newPassword"
        placeholder="Nueva contraseña"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded bg-gray-100 border-2 border-gray-300 text-sm"
      />
      <button
        type="button"
        class="p-2 absolute right-2"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    @if (form.controls.newPassword.touched && form.controls.newPassword.invalid)
    {
    <div>
      @if (form.controls.newPassword.hasError('required')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo es obligatorio
      </p>
      } @if (form.controls.newPassword.hasError('minlength')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        La contraseña debe tener al menos 8 caracteres
      </p>
      }
    </div>
    }
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="confirmPassword"
        placeholder="Confirmar contraseña"
        type="password"
        class="w-full rounded bg-gray-100 border-2 border-gray-300 text-sm"
      />
      <button
        type="button"
        class="p-2 absolute right-2"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    @if ( form.controls.confirmPassword.touched &&
    form.controls.confirmPassword.invalid) {
    <div>
      @if (form.controls.confirmPassword.hasError('required')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo es obligatorio
      </p>
      } @if (form.controls.confirmPassword.hasError('minlength')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        La contraseña debe tener al menos 8 caracteres
      </p>
      }
    </div>
    }
  </div>
  @if (form.controls.confirmPassword.touched) {
  <div>
    @if (form.hasError('mismatch')) {
    <p class="font-medium text-red-500 text-xs mt-1 ml-1">
      Las contraseñas no coinciden
    </p>
    }
  </div>
  }
  <div>
    <app-btn
      [typeBtn]="'submit'"
      [btnColor]="'primary'"
      [loading]="status === 'loading'"
      >Recuperar contraseña</app-btn
    >
  </div>
</form>
